analyse_couverture/__pychache__/*
generation_tests/__pychache__/*

analyse_couverture/__pycache__/*
generation_tests/__pychache__/*

analyse_couverture/*.pyc
generation_tests/*.pyc

analyse_couverture/.idea/*
generation_tests/.idea/*

.idea/*